--- 
layout: home 
title: Home | Redpanther Designs 
paginate: true 
---

<div class="home-banner banner">
  <div class="item-image" style="background-image:url('../images/background.jpg')">
    <div class="container text-justify">
      <div class="row">
        <div class="col-md-6">
          <div class="margin-bottom-10">
            <b>RedPanthers</b>,design studio
            <br> of Web Architects
          </div>
          <div class="centy margin-bottom-30">

            Passepartout went timidly ashore on this so curious territory of<br> the Sons of the Sun. He had nothing better to do than, taking<br> chance for his guide, to wander aimlessly through the streets
          </div>
          <a href="http://redpanthers.co" target="_blank" class="btn btn-default home-banner-button"> Hire Us.</a>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="images/iphone.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Home section two -->
<div class="home-section-two rp-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content text-center">        
          <p>
            Check out our most recent project we’ve completed
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end section two -->
<div class="home-portfolio rp-section-gap">
  <div class="container">
    <div class="row">
      {% for post in site.posts %} {% if post.show_on_home %}
      <div class="col-md-4">
        <div class="portfolio-section">
          <div class="portfolio-image">
            <ul class="portfolio-image-slider">
              {% for image in post.images %} {% if image.thumb %}
              <li>
                <img class="img-responsive" src="{{image.thumb | prepend:site.baseurl}}">
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>
          <div class="portfolio-text">
            <h3>{{post.title}}</h3>
            <p></p>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="/portfolio" class="btn btn-default portfolio-more">More</a>
      </div>
    </div>
  </div>
</div>

<!-- Home Client Section -->
<div class="home-client-section rp-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="feedback-sliders">
          <!-- Feedback One -->
          <div class="customer-feedbacks">
            <div class=" text-center">
              <h3>
                What our Clients Say
              </h3>
              <blockquote>
                I reccomend to everyone this great team, serious, kind, the have great respect for your privacy, always available. Great job guys I hope to collaborate with you again
              </blockquote>
              <cite>
                <a class="link" href="#">
                  Eaglepeace
                </a>
              </cite>
            </div>
          </div>
          <!-- end feedback one -->
          <!-- Feedback One -->
          <div class="customer-feedbacks">
            <div class=" text-center">
              <h3>
                What our Clients Say
              </h3>
              <blockquote>
                “These guys are good at Ruby on Rails. They were able to complete the project it the give time and budget. I would definitely hire them again ”
              </blockquote>
              <cite>
                <a class="link" href="#">
                  sit557702f66d2cc 
                </a>
              </cite>
            </div>
          </div>
          <!-- end feedback one -->
          <!-- Feedback One -->
          <div class="customer-feedbacks">
            <div class=" text-center">
              <h3>
                What our Clients Say
              </h3>
              <blockquote>
                “Amazing Work by RedPanthers! They are the best at what they do. Highly recommended. ”
              </blockquote>
              <cite>
                <a class="link" href="#">
                  JayAdk
                </a>
              </cite>
            </div>
          </div>
          <!-- end feedback one -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end home client section -->

<!-- Home highlight section -->
<div class="home-highlight rp-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="highlight">
          <div class="container text-center">
            <button type="button" class="btn btn-default request-btn"> REQUEST A QUOTE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end home highlight section -->