@import 'device';
@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

/*========= UTILITIES ===================*/

.margin-bottom-3{
  margin-bottom: 3px;
}

.margin-bottom-30{
  margin-bottom: 30px;
}
.margin-top-10{
  margin-top: 10px!important;
}
.img-container{
  width: 100%;
  max-width: 100%;
}
.margin-0{
  margin:0;
}