<div id="footer_top">
  <ul class="container seamless grid ">

    <!-- LOGO -->

    <li class="col-2-12">
      <a href="#" class="logo">
        <b>RedPanthers</b> / Designs
      </a>
    </li>
    <li class="col-1-12 gap"></li>

    <!-- FEATURED -->

    <li class="col-3-12">
      <h5>
        FEATURED POST
      </h5>
      <h4>
        <a href="post.html">
          It is situated in the bay of
        </a>
      </h4>
      <p>
        It is situated in the bay of Yeddo, and at but a short distance from that second capital of the Japanese Empire, and the
      </p>
    </li>
    <li class="col-1-12 gap"></li>

    <!-- ADDRESS -->

    <li class="col-2-12">
      <h5>
        ADDRESS
      </h5>
      <p>
        3921 Ash Avenue
        Saint Louis, MO 63141
      </p>
      <p>
        <a href="tel:1-408-555-5555">
          314-810-6952
        </a>
        <br>
        <a href="mailto:example@example.com">
          contact@redpanthers.co
        </a>
      </p>
    </li>
    <li class="col-1-12 gap"></li>

    <!-- SOCIAL -->

    <li class="col-2-12">
      <h5>
        FOLLOW US
      </h5>
      <ul class="follow">
        <li>
          <a href="#">
            Facebook
          </a>
        </li>
        <li>
          <a href="#">
            Twitter
          </a>
        </li>
        <li>
          <a href="#">
            Instagram
          </a>
        </li>
      </ul>

      <!-- SCROLL TO TOP -->

      <a class="arrow" data-anchor="body">
        <i class="fa fa-angle-up"></i>
      </a>
    </li>
  </ul>
</div>
<div id="footer_bottom">
  <div class="container">
    <ul class="row">
      <li class="col-xs-12 col-sm-3">
        © Copyright  RedPanthers
      </li>
      <li class="col-xs-12 col-sm-9 right">

        <!-- NAVIGATION -->

        <ul class="navigation">
          <li>
            <a href="index.html">
              Home
            </a>
          </li>
          <li>
            <a href="portfolio4.html">
              Work
            </a>
          </li>
          <li>
            <a href="about.html">
              About
            </a>
          </li>
          <li>
            <a href="contact.html">
              Contact us
            </a>
          </li>
        </ul>

        <!-- SOCIAL -->

        <ul class="follow">
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="mailto:example@example.com">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>