<nav class="navbar navbar-default topnav">
  <div class="container ">
    <div class="navbar-header hidden-md hidden-sm hidden-lg">
      <ul class="nav navbar-nav">
        <li class="navright"><a href="#"><span><b>RedPanthers /</b></span>designs</a></li>
      </ul>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav nav-menus">

        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="/portfolio.html">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li class=""><a href="/about.html">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="navright"><a href="#"><span><b>RedPanthers /</b></span>designs</a></li>
      </ul>
    </div>
  </div>
</nav>